.form {
    position: relative;
    width: 430px;
    height: 330px;
    display: block;
    background-color: white;
    margin: 195px auto 425px;
    border-radius: 10px;
    z-index: 100;
}

.overlay {
    position: fixed;
    /* width: 100%;
    height: 100%; */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    visibility: hidden;
    opacity: 0;
    transition: opacity 300ms ease-in;
    pointer-events: none;
}

.overlay-active{
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}

@media screen and (max-width: 320px) {
    .form {
        position: relative;
        width: 282px;
        height: 322px;
        display: block;
        background-color: white;
        margin: 123px 19px 123px;
    }
}