.page {
    background-color: #000;
    color: #fff;
    font-family: 'Inter', sans-serif;
    margin: 0 auto 0 auto;
}

@media screen and (max-width: 320px) {
    .page {
        width: 320px;
        margin: 0 auto 0 auto;
    }
}