.form__popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6);
    visibility: hidden;
  }
  
  .form__popup_active {
    visibility: visible;
  }