.popup-title {
    position: absolute;
    width: 291px;
    height: 12px;
    left: 0;
    top: 100%;
    font-size: 12px;
    line-height: 15px;
    color: white;
}

@media screen and (max-width: 320px) {
    .popup-title {
        width: 100%;
        margin: 0 15px;
    }
}