.profile__add-btn {
    height: 22px;
    position: absolute;
    top: 204px;
    margin: 0 66px;
}

.profile__add-btn:hover {
    opacity: .7;
}

@media screen and (max-width: 320px) {
    .profile__add-btn {
        height: 16px;
        top: 421px;
        left: 88px;
    }
}