.profile__edit-btn {
    width: 24px;
    height: 24px;
    margin: 15px 0 18px;
    background-color: transparent;
    border: none;
}

.profile__edit-btn:hover {
    opacity: .7;
    cursor: pointer;
}

@media screen and (max-width: 320px) {
    .profile__edit-btn {
        width: 15px;
        height: 15px;
    }
}