.profile__add-btn {
    height: 22px;
    position: absolute;
    top: 204px;
    left: 82.8%;
}

.profile__add-btn:hover {
    opacity: .7;
    
}

@media screen and (max-width: 320px) {
    .profile__add-btn {
        height: 16px;
        top: 52%;
        left: 50%;
    }

}