.profile {
    width: 880px;
    height: 120px;
    margin: 40px auto 50px;
    display: flex;
}

@media screen and (max-width: 320px) {
    .profile {
        width: 282px;
        height: 286px;
        margin: 42px 19px 36px;
        display: grid;
    }
}