.header {
    width: 880px;
    height: 74px;
    margin: 45px auto 40px;
}

@media screen and (max-width: 320px) {
    .header {
        width: 320px;
        height: 50px;
        margin: 28px 0 40px;
    }
}