.popup__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
    visibility: hidden;
}

.popup__overlay_active {
    visibility: visible;
}