.profile__edit-form-input {
    display: block;
    width: 358px;
    height: 27px;
    border: 0;
    margin: 10px 36px 10px;
    font-size: 14px;
    
}

@media screen and (max-width: 320px) {
    .profile__edit-form-input {
        width: 238px;
        line-height: 17px;
        margin: 0 22px 30px;
    }
}