.profile__add-btn {
    height: 22px;
    position: absolute;
    top: 14px;
    right: 60px;
    background-color: transparent;
}

.profile__add-btn:hover {
    opacity: .7;
}

@media screen and (max-width: 320px) {
    .profile__add-btn {
        height: 16px;
        top: 14px;
        left: 135px;
        background-color: transparent;
    }
}