.footer {
    position: absolute;
    width: 318px;
    height: 18px;
    bottom: 0px;
    z-index: 1;
    left: 200px;
}

@media screen and (max-width: 320px) {
    .footer {
        position: absolute;
        width: 282px;
        height: 14px;
        left: 19px;
        z-index: 2;
        bottom: 5px;
    }
}