.popup-image {
    width: auto;
    height: auto;
    z-index: 3;
    background-color: #000;
    object-fit: contain;
}

@media screen and (max-width: 320px) {
    .popup-image {
        width: 100%;
        scale: .9;
    }
}