.popup-image {
    width: auto;
    height: 540px;
    z-index: 3;
    background-color: #000;
}

@media screen and (max-width: 320px) {
    .popup-image {
        width: 100%;
        scale: .9;
    }
}