.element {
    position: relative;
    width: 282px;
    height: 361px;
    margin: 0 auto;
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    column-gap: 17px;
    row-gap: 20px;
    background-color: white;
    border-radius: 10px;
}

@media screen and (max-width: 320px) {
    .element {
        width: 282px;
        height: 361px;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        column-gap: 0;
        margin: 0;
    }
}