.element__text {
    position: absolute;
    font-size: 24px;
    font-weight: 900;
    line-height: 29px;
    color: #000;
    z-index: 1;
    bottom: 2px;
    left: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 235px;
}

@media screen and (max-width: 320px) {
    .element__text {
        width: 240px;
        height: 29px;
        left: 15px;
        bottom: 2px;
    }
}