.popup-image {
    width: auto;
    height: 540px;
    background-color: #000;
}

@media screen and (max-width: 320px) {
    .popup-image {
        width: 100%;
        height: auto;
        scale: .9;
        object-fit: contain;
    }
}